<ion-view view-title="Create New Event">
  <ion-content>
      <div style="margin-left:10px">
        <h4>Event Details</h1>
      </div>
            
      <div class="list">
        <label align-title="center" class="item buttons" ng-controller="SelectTeamsCtrl" ng-click="show()">
            <h4 class="title">Team(s)</h4>
            <div class="item-text-wrap">
                <span ng-repeat="team in teamsList">
                    <span ng-show="team.checked">
                        <button class="button button-small">{{team.text}}                                               </button>
                    </span>
                </span>
            </div>
        </label>
        <label align-title="center" class="item buttons" ng-controller="SelectProjectsCtrl" ng-click="show()">
            <h4 class="title">Project(s)</h4>
            <div class="item-text-wrap">
                <span ng-repeat="project in projectsList">
                    <span ng-show="project.checked">
                        <button class="button button-small">{{project.text}}                                               </button>
                    </span>
                </span>
            </div>
        </label>
        <label align-title="center" class="item buttons" ng-controller="SelectPersonsCtrl" ng-click="show()">
            <h4 class="title">Person In-Charge(s)</h4>
            <div class="item-text-wrap">
                <span ng-repeat="person in personsList">
                    <span ng-show="person.checked">
                        <button class="button button-small">{{person.text}}                                               </button>
                    </span>
                </span>
            </div>
        </label>
        <label align-title="center" class="item buttons" ng-controller="SelectCountryCtrl" ng-click="show()">
            
            <h4 class="title">Country</h4>
            <div class="item-text-wrap">
<!--
                <span ng-repeat="country in countryList">            
                    <span ng-show="country.checked">
                        <button class="button button-small">{{country.text}}                                               </button>
                    </span>
                </span>
-->
                
<!--               <span ng-show="itemId">-->
<!--
                {{itemId}}
                        <button class="button button-small">{{items[itemId].Name}}                                               </button>
-->
<!--                </span>-->
<!--
                 <span ng-repeat="i in items" ng-value="i.Id" ng-model="countryData.Id">            
                    <span ng-show="i.selected">
                        <button class="button button-small">{{i.Name}}</button>
                    </span>                                          
                </span>
-->
                
                
                <button class="button button-small">{{countryData.selectedCountry}}</button>
                
                
<!--
                <ion-radio ng-repeat="i in items" ng-value="i.Id" ng-model="$parent.$parent.item" >                 {{i.Name}}
            </ion-radio>
-->
                    
                
            </div>
        </label>
        <label align-title="center" class="item buttons" ng-controller="SelectStateCtrl" ng-click="show()">
            <h4 class="title">State</h4>
            <div class="item-text-wrap">
                <button class="button button-small">{{stateData.selectedState}}</button>
            </div>            
        </label>
         <label align-title="center" class="item buttons" ng-controller="SearchVenueCtrl" ng-click="show()">
            <h4 class="title">Venue</h4>
<!--
            <div class="item-text-wrap">
                <span ng-repeat="project in projectsList">
                    <span ng-show="project.checked">
                        <button class="button button-small">{{project.text}}                                               </button>
                    </span>
                </span>
            </div>
-->
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Size of Rental Space (Sq.ft.)">
        </label>  
        <label align-title="center" class="item buttons" ng-controller="SelectTeamsCtrl" ng-click="show()">
            <h4 class="title">Start Date &amp; Time</h4>
        </label>
        <label align-title="center" class="item buttons" ng-controller="SelectTeamsCtrl" ng-click="show()">
            <h4 class="title">End Date &amp; Time</h4>
        </label>
        <label align-title="center" class="item buttons" ng-controller="SelectTeamsCtrl" ng-click="show()">
            <h4 class="title">Booth Installation Date &amp; Time</h4>
        </label>
        <label align-title="center" class="item buttons" ng-controller="SelectTeamsCtrl" ng-click="show()">
            <h4 class="title">Booth Dismantlement Date &amp; Time</h4>
        </label>                
    </div>
      
      
      
      
      
      

      
      
      
      
      
      
      
      
      
  </ion-content>

    <a href="#/app/cost">
        <ion-footer-bar class="buttons bar-assertive" >
            <h1 class="title">Next</h1>              
        </ion-footer-bar>
    </a>    

</ion-view>

