<ion-view view-title="Inventory">    
    
    <ion-content class="container_cost_buttons">
        <a class="button button-icon icon button_add_cost_details" href="#/app/itemDetails"></a>
        <a style="width: 120px;display: block;margin: 0 auto;">
            <h4>Add An Item</h4>            
        <a class="button button-icon icon button_event_cost_list"></a>
        <a style="width: 100px;display: block;margin: 0 auto;">
            <h4>Item List</h4>
        </a>   
                        
    </ion-content>
        
     <a href="#/app/summary">
        <ion-footer-bar class="buttons bar-assertive" >
            <h1 class="title">Next</h1>              
        </ion-footer-bar>
    </a>
</ion-view>