<ion-modal-view class="ion-google-place-container modal">
     <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Search Venue</h1>        
    </ion-header-bar>
    
    <ion-content>        
<!--       <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="location" />           -->
        
       
<!--        <input type="text" class="ion-google-place"/>-->
<!--        <input type="text" ion-google-place/>-->
<!--        <input type="text" readonly="readonly" class="ion-google-place" autocomplete="off">-->
<!--
        <label class="item item-input">
            <input type="text" placeholder="Size of Rental Space (Sq.ft.)">
            <input type="text" ion-google-place>
        </label> 
-->
        
         <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="location" /> 
        
    </ion-content>
    
    <ion-footer-bar align-title="center" class="buttons bar-balanced" ng-click="done()">
        <h1 class="title">Done</h1>
    </ion-footer-bar>    
</ion-modal-view>




