<ion-modal-view>
     <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Select Item</h1>        
    </ion-header-bar>
    
    <ion-content>        
        <ion-radio ng-repeat="item in itemList"
                      ng-model="item.checked" 
                        ng-click="updateItem(item)"
                      ng-checked="item.checked">
          {{ item.text }}
        </ion-radio>            
    </ion-content>
    
    <ion-footer-bar align-title="center" class="buttons bar-balanced" ng-click="done()">
        <h1 class="title">Done</h1>
    </ion-footer-bar>    
</ion-modal-view>

