<ion-view view-title="Success">
    
    <ion-content class="container_cost_buttons">
        <div align="middle">
            <img src="img/HattenGrp_logo.png" width="250" height="100">            
        </div>
        
        <div align="middle">            
            <img src="img/submit_succesfully.png" width="150" height="150">
        </div>
        
        <div align="middle">
            <label style="display: block; width: 200px;">
                Application for event creation successfully submitted. You will be notified  of your application status.
            </label>
            
        </div>
        
        

    </ion-content>
    
    <a ng-click="close()">
        <ion-footer-bar class="buttons bar-assertive" >
            <h1 class="title">Close</h1>              
        </ion-footer-bar>
    </a>    
    
<!--
    <a href="#/app">
        <ion-footer-bar class="buttons bar-assertive" >
            <h1 class="title">Close</h1>              
        </ion-footer-bar>
    </a>  
-->
</ion-view>