
<ion-view view-title="Summary">
    
    <ion-content>
        <div class="list">
            <label class="item">
                Total Costing: RM
            </label> 
            <label class="item item-input">
                <input type="text" placeholder="Remark">
            </label>
        </div>
        

    </ion-content>

     <a href="#/app/preview">
        <ion-footer-bar class="buttons bar-assertive" >
            <h1 class="title">Next</h1>              
        </ion-footer-bar>
    </a>
</ion-view>